#!/usr/bin/env bash

# Navigation
alias ..='cd ..'
alias cd..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias -- -='cd -'

# Specific directory navigation
alias p='cd ~/projects'
alias dl='cd ~/Downloads/'
alias dt='cd ~/Desktop'

# Python venv
alias vir='virtualenv --no-site-packages'
alias vir3='virtualenv --no-site-packages -p /usr/bin/python3.4'
alias d='deactivate'
alias pnit='touch __init__.py'

# Django specific
alias run='python manage.py runserver'
alias mig='python manage.py migrate'
alias col='python manage.py collectstatic --noinput'
alias mkmig='python manage.py makemigrations'
alias djsh='python manage.py shell'

# Git specific
alias gti='git'
alias get='git'
alias gall='git add -A && git commit -m'
alias gpum='git pull origin master'
alias gps='git push'
alias gpsm='git push origin master'
