# create a new file and open with sublime
nf(){
	touch "$@" && subl "$@"
}

mk(){
	mkdir "$@" && cd "$1"
}



hme(){
	cat <<-EOF

	commands:
	---------
	 nf 			Creates a new file and opens it with sublime
	 mk 			Creates a new directory and enter it
	 # git functions
	 ga 			git add
	 gc 			git commit -m <your message>
	 gst 			git status
	 gpo 			git push origin <your branch>	# supports autocomplete
	 gpu 			git pull origin <your branch>
	 gbr 			git branch
	 gco 			git checkout <your branch>		# supports autocomplete
	 gcn 			git checkout -b <your branch>
	 gr 			git remote -v
	 gl 			git log
	 gd 			git diff
	 gds 			git diff --staged

	# django functions
	 cuser			creates a superuser <admin> with password <admin>

	aliases:
	--------
	 ..				cd ..
	 e 				exit
	 vir			vituralenv --no-site-packages pyenv
	 svenv 			source pyenv/bin/activate
	 d 				deactivate in case of virtualenv
	 trojan 		cd ~/Documents/trojanguy
	 # django aliases
	 run			python manage.py runserver
	 mig			python manage.py migrate
	 col			python manage.py collectstatic --noinput
	 mkmig			python manage.py makemigrations
	 djsh			python manage.py shell
	 mkmigd			python manage.py makemigrations --dry-run




EOF
}

freq(){
	cat <<-EOF

	Lists the important used day-to-day commands

	commands:
	---------

	 # upload a package on pypi
	 1 -- python setup.py register -r pypitest
	 2 -- python setup.py sdist upload -r pypitest
	 3 -- python setup.py register -r pypi
	 4 -- python setup.py sdist upload -r pypi

	 # python 3.4 virtualenv
	 5 -- virtualenv --no-site-packages -p /usr/bin/python3.4 py3

	 # python 2.7 virtualenv
	 6 -- virtualenv --no-site-packages py2

	 # python simple server at 8888
	 7 -- python -m SimpleHTTPServer 8888 &

	 # kill port 8000, mostly django specific
	 8 -- sudo fuser -k 8000
EOF
}
