# create a new file and open with sublime
function nf(){
	touch "$@" && subl "$@"
}

function mk(){
	mkdir "$@" && cd "$@"
}

function hme(){
	cat <<-EOF

	commands:
	 nf 			Creates a new file and opens it with sublime
	 mk 			Creates a new directory and enter it

EOF
}