# create a new file and open with sublime
nf(){
	touch "$@" && subl "$@"
}

mk(){
	mkdir "$@" && cd "$1"
}



hme(){
	cat <<-EOF

	commands:
	 nf 			Creates a new file and opens it with sublime
	 mk 			Creates a new directory and enter it
	 ga 			git add
	 gc 			git commit -m <your message>
	 gst 			git status
	 gpo 			git push origin <your branch>
	 gpu 			git pull origin <your branch>
	 gbr 			git branch
	 gco 			git checkout <your branch>
	 gcn 			git checkout -b <your branch>
	 gr 			git remote -v
	 gl 			git log
	 gd 			git diff
	 gds 			git diff --staged

EOF
}